@import "util";
@import "variable";

.tabbtn{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    header{
        height: @tabbtn-height;
        line-height: @tabbtn-height;
        background-color: @bg-color-one;

        .title{
            width: 30%;
            margin: 0 auto;
            color: @font-color-one;
            font-size: @font-size-38;
            text-align: center;
        }
    }

    ul{
        .fix;
        position: relative;
        margin: 0 auto;
        height: @tabbtn-height + 1px;
        background-color: @bg-color-white;
        .border-bottom(0px);

        li{
            box-sizing: border-box;
            position: relative;
            float: left;
            width: 24%;
            margin: 13px 0;
            height: 23px;
            line-height: 23px;
            color: @font-color-two;
            font-size: @font-size-32;
            text-align: center;

            &:not(:last-child) {
                .border-right(0px);
            }

            &:last-child {
                width: 28%;
            }

            &.current {
                color: @font-color-one;
            }
        }

    }
}

.content-body{
    padding-top: @tabbtn-height * 2 + 11px;
    padding-bottom: 5px;
    min-height: calc(~"100vh - @{tabbtn-height} - 6px");
    background-color: @bg-color;

    .suppliers{
        position: relative;
        .fix;
        margin: 0 0 5px;
        padding: 15px 12px;
        background-color: @bg-color-white;
    }
}

.suppliers-icon{
    float: left;
    width: 70px;
    margin-right: 10px;
    img{
        width: 70px;
        height: 70px;
    }
}
.suppliers-info{
    float: left;
    width: calc(~"100% - @{suppliers-side-width} - 60px");
    color: @font-color-one;

    .suppliers-info-title{
        font-size: @font-size-30;
    }

    .suppliers-info-figure{
        font-size: @font-size-24;
        margin: 6px 0;
        span{
            margin-right: 10px;
            span{
                color: @bg-color-blue-one;
                margin-right: 3px;
            }
        }
    }

    ul{
        .fix;

        li{
            float: left;
            margin-right: 2px;
            font-size: @font-size-26;
            border: #000 solid 0.5px;
            border-radius: 3px;
        }
    }
}

.suppliers-info-tags{
    color: @font-color-two;
    font-size: @font-size-22;

    .suppliers-info-tags-tag{
        margin-top: 5px;

        .tag{
            display: inline-block;
            width: 13px;
            height: 13px;
            line-height: 13px;
            color: #fff;
            text-align: center;
            border-radius: 3px;
        }
    }
}

.suppliers-operation{
    position: absolute;
    top: 15px;
    right: 12px;
    color: @font-color-two;
    font-size: @font-size-22;
    text-align: right;

    .suppliers-operation-distance{
        margin-bottom: 44px;
        font-size: @font-size-26;
    }

    .suppliers-operation-collect{
        //margin-top: 38px;
    }
}

