.fix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
//垂直居中
.vertical-middle {
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.transform (@t) {
    -webkit-transform: @t;
    -moz-transform: @t;
    -ms-transform: @t;
    -o-transform: @t;
    transform: @t;
}
//border-bottom,下边框
.border-bottom (@bottom: -1px, @bd-color: #ccc, @offset: 0){
    &:after {
        content: '';
        position: absolute;
        left: @offset;
        bottom: @bottom;
        height: 1px;
        width: 100%;
        background-color: @bd-color;

        .transform(scaleY(0.5))
    }
}

//border-top,上边框
.border-top (@top: -1px, @bd-color: #ccc){
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: @top;
        height: 1px;
        width: 100%;
        background-color: @bd-color;

        .transform(scaleY(0.5))
    }
}

//border-right,右边框
.border-right (@right: -1px, @bd-color: #ccc, @offset: 0){
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: @right;
        width: 1px;
        height: 100%;
        background-color: @bd-color;

        .transform(scaleX(0.5))
    }
}

//border-left,左边框
.border-left (@left: -1px, @bd-color: #ccc, @offset: 0){
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: @left;
        width: 1px;
        height: 100%;
        background-color: @bd-color;

        .transform(scaleX(0.5))
    }
}

.bd-all(@bd-color: #ccc;@bd-radius: 10px){
    position: relative;

    &:before{
        content: "  ";
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        border: 1px solid @bd-color;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(.5, .5);
        transform: scale(.5, .5);
        border-radius: @bd-radius;
    }
}

.transition (@t: all 0.2s) {
    -webkit-transition: @t;
    -moz-transition: @t;
    -ms-transition: @t;
    -o-transition: @t;
    transition: @t;
}

.check(@color: #fff) {
    position: relative;
    left: -1000px;
    opacity: 0;
    &+label.check-label {
        position: relative;
        width: 20px;
        left: -32px;
        top: -2px;
    }

    &+label.check-label:before,
    &+label.check-label:after,
    &+label.check-label:checked:after,
    &+label.check-label:checked:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        opacity: 1;
    }

    &+label.check-label:before,
    &+label.check-label:checked:before{
        left: -2px;
        top: -2px;
        width: 24px;
        height: 24px;
        background-color: @color;
    }

    &+label.check-label:after{
        background: url("../assets/shopcar/unchecked.png");
        background-size: 100% 100%;
    }

    &:checked+label.check-label:after{
        background: url("../assets/shopcar/checked.png");
        background-size: 100% 100%;
    }
}

.right-arrow {
    display: inline-block;
    width: 7px;
    height: 14px;
    background-image: url('../assets/shopcar/right_arrow.png');
    background-size: 100% 100%;
}


.flex (@unit: 1) {
    -webkit-box-flex: @unit;
    -webkit-flex: @unit;
    -ms-flex: @unit;
    flex: @unit;

    display: block;
}

.flex-display (@align: stretch; @justify: flex-start) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: @align;
    -webkit-align-items: @align;
    -ms-flex-align: @align;
    align-items: @align;

    -webkit-box-pack: @justify;
    -webkit-justify-content: @justify;
    -ms-justify-content: @justify;
    justify-content: @justify;
}
